<section id="home">
    <h1>CryptoChat</h1>

    <div class='container'>
        <div>
            <form role='form' novalidate name='form'>
                <div class='form-group'>
                    <input type='text' style='width: 300px' required ng-max='50' ng-model='screenname' focus>
                    <button class='btn btn-sm btn-primary' ng-enable='form.$valid' ng-click="changeNickname(screenname)">Change Screen name</button>
                </div>
            </form>
            You are known as: <span ng-bind="nickName"></span>.
            <div class='row'>
                <div class='col-md-9'>
                    <chat-box></chat-box>
                </div>
            </div>
            <div class='row'>
                &nbsp;
            </div>
            <div class='row'>
                <div class='col-md-8'>
                    <form role='form' novalidate name='form'>
                        <div class='form-group'>
                            <input type='text' style='width: 80%' required ng-max='50' ng-model='message' focus>
                            <button class='btn btn-sm btn-primary' ng-enable='form.$valid' ng-click="sendMessage()">Send!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h2>Encrypter</h2>
      <div ui-ace="{
      useWrapMode : true,
      showGutter: false,
      theme:'solarized_dark',
      mode: 'javascript',
      enableBasicAutocompletion: true,
      enableLiveAutocompletion: true
    }" style="height: 200px; z-index: 0; width: 400px;">function encrypter(input) {

}   </div>
    </section>
